@font-face {
    font-family: Kanit;
    src: url(../fonts/Kanit-Regular.ttf)
}

header {
    background-color: #F6BF3E;
    font-family: 'Kanit', serif;
}

p.header {
    padding: 10px;

    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#TUlogo {
    height: 3rem; vertical-align: middle
}

body {
    font-family: 'Kanit', serif;
}

div.login {
    background-color: white;
    width: 300px;
    padding: 20px;
    text-align: center;
}

input.login {
    background-color: #00b309;   
    width: 340px;
    padding: 10px;
    border: 2px solid #00b308;

    color: white;
    font-family: 'Kanit', serif;
    font-weight: bold;
    font-size: 1.2rem;
}

input.login:hover {
    background-color: #008a07;   
    width: 340px;
    padding: 10px;
    border: 2px solid #008a07;
    
    color: white;
    font-family: 'Kanit', serif;
    font-weight: bold;
    font-size: 1.2rem;
}

input.login_fail {
    background-color: #f00;   
    width: 340px;
    padding: 10px;
    border: 2px solid #f00;
    
    color: white;
    font-family: 'Kanit', serif;
    font-weight: bold;
    font-size: 1.2rem;
}

input.login_fail:hover {
    background-color: #c00;   
    width: 340px;
    padding: 10px;
    border: 2px solid #c00;
    
    color: white;
    font-family: 'Kanit', serif;
    font-weight: bold;
    font-size: 1.2rem;
}

h3
{
    font-family: 'Kanit', serif;
}

footer
{
    position: fixed;
    bottom: 0;
    height: 40px;
    background-color: transparent;
}

a.footerlink {
    padding: 10px;

    text-decoration: none;
    text-align: center;
}

td {
    font-family: monospace;
}

td.landing {
    padding-left: 20px;
    padding-right: 20px;

    border-bottom: 2px solid #000 !important;
}

td.landing h3 {
    font-size: 1em;
    font-family: 'Kanit', serif;
}

td.classList {
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}